.card{
    width: 95%;
    margin: auto;
    font-family: 'math';
}

.card-header{
    background-color: #6292c0;
}

.card-body{
    background-color: #06869e;
}

.btn{
    background-color: #3779df;
    width: 80%;
}