.titulo-navbar{
    font-family: 'math';
    font-size: large;
}

.navbar-toggler {
    background-color: #015660;
    padding: 0;
}

.btn-navbar{
    display: flex;
    width: 150px;
    height: 30px;
    bottom: 1.5rem;
    top: 1.5rem;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    border: none;
}

.dropdown-menu{
    width: 150px;
    font-family: 'math';
}