<!--routerLink="/add"-->
<nav class="navbar navbar-expand-lg bg-info" data-bs-theme="light">
  <div class="container-fluid">
    
    <a class="navbar-brand titulo-navbar" href="#">Smarth IaNum</a>
    
    <div class="navbar-toggler">
        <button class="btn btn-outline-primary btn-navbar" (click)="dropdownOpen = !dropdownOpen">
          <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="dropdown-menu" [class.show]="dropdownOpen">
          <a class="dropdown-item text-center" routerLink="/profesores-login">Profesores</a>
          <a class="dropdown-item text-center" routerLink="/alumnos-login">Alumnos</a>
          <a class="dropdown-item text-center" routerLink="/temario">Temas</a>
          <a class="dropdown-item text-center" routerLink="/redes-neuronales-mainscreen">Redes Neuronales</a>
          <!--grafica-->
          <a class="dropdown-item text-center" routerLink="/grafica">Graficar</a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profesores-login">Unete Como Profesor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alumnos-login">Unete Como Alumno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/temario">Conoce Nuestro Temario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/redes-neuronales-mainscreen">Utiliza Nuestras Redes Neuronales</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/grafica">Grafica Funciones Aritmeticas</a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>