<div class="card text-white bg-primary mt-3">
    <div class="card-header">
        <h1>Panel De Control De Estudiantes</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <button class="btn" routerLink="/alumnos-curso/{{idAlumno}}">CLASES</button>
            </div>
            <div class="col-md-4">
                <button class="btn" routerLink="/alumnos-actividades/{{idAlumno}}">ACTIVIDADES</button>
            </div>
            <div class="col-md-4">
                <button class="btn" routerLink="/alumnos-list-calificaciones/{{idAlumno}}">CALIFICACIONES</button>
            </div>
        </div>
    </div>
</div>
