<div class="contenedor mt-3">
    <div class="text-center">
        <h2 class="mt-2">En este apartado podras practicar con ejercicios de Ecuaciones Cuadraticas</h2>
        <h2 class="mt-2">Se te tomara el tiempo hasta que la respuesta sea correcta</h2>
    </div>

    <div class="row text-center fila-criterios">
        <button (click)="getEjercicio()" type="button" class="btn-ecuaciones btn">Mostrar Ejercicio</button>
    </div>

    <div *ngFor="let item of ListEjercicios" class="mt-3 mb-3">
        <h2 class="text-ecuaciones">
            El ejercicio es: {{item.ejercicio}}
        </h2>
        <h2 class="text-ecuaciones">
            A = {{item.a}} / B = {{item.b}} / C = {{item.c}}
        </h2>
    </div>

    <div>
        <form [formGroup]="form" class="form-style mt-4">
            <fieldset disabled="">
                <input formControlName="opcionA" class="OpcionRespuesta form-control mt-3" id="disabledInput" type="text" placeholder="Disabled input here...">
            </fieldset>
            <fieldset disabled="">
                <input formControlName="opcionB" class="OpcionRespuesta form-control" id="disabledInput" type="text" placeholder="Disabled input here...">
            </fieldset>
            <fieldset disabled="">
                <input formControlName="opcionC" class="OpcionRespuesta form-control" id="disabledInput" type="text" placeholder="Disabled input here...">
            </fieldset>
            <fieldset disabled="">
                <input formControlName="opcionD" class="OpcionRespuesta form-control mb-3" id="disabledInput" type="text" placeholder="Disabled input here...">
            </fieldset>
        </form>
    </div>

    <div class="row text-center fila-criterios mt-3">
        <form [formGroup]="formRespuesta" (ngSubmit)="getEvaluacion()">
            <input formControlName="respuesta" type="text" class="form-control input-criterios text-center text-dark" placeholder="Coloca tu resultado">
            <span *ngIf="formRespuesta.get('respuesta')?.hasError('required') && formRespuesta.get('respuesta')?.touched">
                <strong>NO OLVIDES MANDAR TU RESPUESTA</strong>
            </span>
            <button [disabled]="formRespuesta.invalid" type="submit" class="btn-ecuaciones btn">EVALUAR RESPUESTA</button>
            <div class="text-center">
                <h2 class="mt-2">{{resultado}}</h2>
            </div>
        </form>
    </div>

    <div class="text-center contenedor-text-area">
        <label for="exampleTextarea" class="form-label mt-4">
            <h2>Puedes colocar aqui el procedimiento (Opcional)</h2>
        </label>
        <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
    </div>
</div>