.contenedor{
    margin: auto;
    width: 95%;
    font-family: 'math';
    background-color: #0c5567;
}

.fila-criterios{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.btn-criterios{
    width: 100%;
    background-color: #0164dd;
}

.text-geometria{
    text-align: center;
    background-color: #0164dd;
    margin: auto;
    width: 90%;
}

.form-style{
    width: 90%;
    margin: 0 auto;
    background-color: #0164dd;
}

.OpcionRespuesta{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: #0164dd;
    font-size: large;
}

.switch-criterios{
    width: 50%;
}

.contenedor-text-area{
    margin: auto;
    width: 95%;
}

.input-criterios{
    width: 100%;
}