<div class="card mt-3">
    <div class="title mt-3 mb-3">
        <h4>Listado de Actividades</h4>
        <button type="button" class="btn btn-outline-info btn-sm" routerLink="/profesor-actividadesAdd">AGREGAR</button>
    </div>
    <div class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">CODIGO CLASE</th>
                <th scope="col">NOMBRE ACTIVIDAD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listActividades">
                <th>{{item.codigo_clase}}</th>
                <td>{{item.nombre_actividad}}</td>
            </tr>
        </tbody>
    </div>
</div>
