<div class="container mt-3">
    <h1>Listado de Actividades</h1>
    <div class="btn-group mb-3" role="group" aria-label="Acciones">
        <button routerLink="/profesor-actividadesAdd/{{IDprofesor}}" type="button" class="btn btn-info"><i class="fas fa-plus me-2"></i>Agregar Curso</button>
        <button routerLink="/panel-profesor/{{IDprofesor}}" type="button" class="btn btn-warning"><i class="fas fa-arrow-left me-2"></i>Volver</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th scope="col">CODIGO CLASE</th>
                    <th scope="col">NOMBRE ACTIVIDAD</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let item of listActividades">
                    <th>{{item.codigo_clase}}</th>
                    <td>{{item.nombre_actividad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>