.text-azul-real{
    color: #4e2ce8
}

.contenedor{
    position: relative;
    z-index: 2;
}


.contenedor-imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-numeros-primos{
    width: 600px;
    height: 300px;
}