<div class="card mt-3">
    <div class="title mt-3 mb-3">
        <h4>Listado de Calificaciones</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CLASE</th>
                <th scope="col">ACTIVIDAD</th>
                <th scope="col">CALIFICACION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ListCalificaciones" class="table-secondary">
                <td>{{item.clase}}</td>
                <th>{{item.actividad}}</th>
                <td>{{item.calificacion}}</td>
            </tr>
        </tbody>
    </table>

</div>