.contenedor{
    position: relative;
    z-index: 2;
}
.contenedor-imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-numeros-primos{
    width: 150px;
    height: 250px;
}