<div class="container   text-center  text-dark">
    <h1 class="columna">Para hacer uso de la red neuronal es necesario llenar un solo formulario y darle click al boton de aceptar</h1>
</div>

<div class="container  text-center  text-dark">
    <div class="row">
        <div class="col-6 columna">
            <div class="card-header">
                <h2 class="card-title">Red Neruonal Para Resolver Ecuaciones de Primer Grado con la siguiente forma (X+A=B)</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="formPeticionRed" (ngSubmit)="SendPeticionRed()">
                    <select formControlName="coeficiente" class="form-select mt-3" id="coeficiente">
                        <option value="" disabled selected>Selecciona un coeficiente</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <span *ngIf="formPeticionRed.get('coeficiente')?.hasError('required') && formPeticionRed.get('coeficiente')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <input formControlName="variableA" type="number" class="form-control mt-3" placeholder="variable A">
                    <span *ngIf="formPeticionRed.get('variableA')?.hasError('required') && formPeticionRed.get('variableA')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <input formControlName="variableB" type="number" class="form-control mt-3" placeholder="variable B">
                    <span *ngIf="formPeticionRed.get('variableB')?.hasError('required') && formPeticionRed.get('variableB')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <div class="mt-3">
                        <button [disabled]="formPeticionRed.invalid" type="submit" class="btn btn-primary btn-lg">ACEPTAR</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 columna">
            <div class="card-header">
                <h2 class="card-title">Red Neruonal Para Resolver Ecuaciones de Segundo Grado con la siguiente forma (X+A+B=0)</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="formPeticionRed" (ngSubmit)="SendPeticionRedv2()">
                    <select formControlName="coeficiente" class="form-select mt-3" id="coeficiente">
                        <option value="" disabled selected>Selecciona un coeficiente</option>
                        <option value="1">2</option>
                    </select>
                    <span *ngIf="formPeticionRed.get('coeficiente')?.hasError('required') && formPeticionRed.get('coeficiente')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <input formControlName="variableA" type="number" class="form-control mt-3" placeholder="variable A">
                    <span *ngIf="formPeticionRed.get('variableA')?.hasError('required') && formPeticionRed.get('variableA')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <input formControlName="variableB" type="number" class="form-control mt-3" placeholder="variable B">
                    <span *ngIf="formPeticionRed.get('variableB')?.hasError('required') && formPeticionRed.get('variableB')?.touched">
                        <strong>Recuerda que las variables son IMPORTANTES</strong>
                    </span>
                    <div class="mt-3">
                        <button [disabled]="formPeticionRed.invalid" type="submit" class="btn btn-primary btn-lg">ACEPTAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container   text-center  text-dark">
    <div class="row">
        <div class="col-12  columna">
            <h3>Resultado de la Red Neuronal (Recuerda que puede haber ocaciones donde no se llegue al resultado esperado)</h3>
            <app-progress-bar *ngIf="loading"></app-progress-bar>
            <div *ngIf="!loading" class="mensajes"> 
                <h1 *ngIf="resultado!=null">
                    {{resultado}}
                </h1>
            </div>
        </div>
    </div>
</div>