<div class="card mt-3">
    <div class="title mt-3 mb-3">
        <h4>Listado de Cursos</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">MATERIA</th>
                <th scope="col">PROFESOR</th>
                <th scope="col">CREDITOS</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ListCurso" class="table-secondary">
                <th scope="row">{{item.codigo}}</th>
                <td>{{item.materia}}</td>
                <td>{{item.profesor}}</td>
                <td>{{item.creditos}}</td>
                <td><button (click)="addMatricula(item.id_curso!)" type="button" class="btn btn-outline-success btn-sm">UNIRSE</button></td>
            </tr>
        </tbody>
    </table>

</div>