<div class="container">
    <div class="title">

        <h4>Listado de Cursos</h4>
        <button type="button" class="btn btn-outline-info btn-sm" routerLink="/add">AGREGAR</button>

    </div>

    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">CREDITOS</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of ListCursosV2" class="table-secondary">
                <th>{{item.codigo}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.creditos}}</td>
                <td>
                    <button routerLink="/edit/{{item.codigo}}" type="button" class="btn btn-outline-success btn-sm">EDITAR</button>
                    <button (click)="deleteCurso(item.codigo!)" type="button" class="btn btn-outline-danger btn-sm">ELIMINAR</button>
                </td>
            </tr>
        </tbody>

    </table>

</div>