<div *ngIf="!mostrarContenido">
    <button (click)="MostrarParrafo()" class="btn btn-outline-info boton-open">
        <span class="material-symbols-outlined">network_intelligence_history</span>
    </button>
</div>

<div *ngIf="mostrarContenido" class="chat-posicion">
    <div class="card text-white mb-3 text-center chat-container" style="max-width: 20rem;">
        <button (click)="MostrarParrafo()" class="btn btn-primary boton-close mb-2">CERRAR EL CHAT</button>
        <app-progress-bar *ngIf="loading"></app-progress-bar>
        <img src="assets/imagenes/icon-chatbot.png" class="incons">
        <div class="overflow-auto mb-4">
            <div *ngIf="!loading" class="mensajes"> 
                <p *ngFor="let peticion of peticiones; let i = index" [ngClass]="{'chat-enviado': i % 2 === 0, 'chat-recivido': i % 2 !== 0}">
                    {{ peticion }}
                </p>
            </div>
        </div>
    </div>
    <div class="block-blue mt-2 bg-primary">
        <form [formGroup]="form" (ngSubmit)="enviarMensaje()">
            <div class="input-group mb-3 chat-input">
                <input formControlName="peticion" type="text" class="form-control" placeholder="Estamos para ayudarte" aria-label="Recipient's username" aria-describedby="button-addon2">
                <span *ngIf="form.get('peticion')?.hasError('required') && form.get('peticion')?.touched"></span>
                <button [disabled]="form.invalid" class="btn btn-info" type="submit" id="button-addon2">
                    <span class="material-symbols-outlined">chat_add_on</span>
                </button>
            </div>
        </form>
    </div>
</div>