<div class="d-flex justify-content-center mt-5">
    <div class="card text-white bg-info mb-3 text-center">
        <app-chatbot-interfaz></app-chatbot-interfaz>
        <div class="card-header">Login de Maestro</div>
        <div class="card-body">
            <p class="card-text">*INFO DEL LOGIN*</p>
            <p class="card-text">
                Recuerda que si no tienes una cuenta puedes crear una dandole click al boton de abajo
            </p>
            <div>
                <input type="text" class="form-control text-center" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-lg btn-outline-success" type="button">LOGIN</button>
                    <button class="btn btn-lg btn-outline-danger" type="button">SING UP</button>
                </div>
            </div>
        </div>
    </div>
</div>  
