<div class="container mt-3">
    <h1>Listado de Actividades</h1>
    <div class="btn-group mb-3" role="group" aria-label="Acciones">
        <button routerLink="/panel-alumnos/{{IDalumno}}" type="button" class="btn btn-secondary"><i class="fas fa-arrow-left me-2"></i>Volver</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th scope="col">Codigo de Clase</th>
                    <th scope="col">Nombre de Actividad</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let item of ListActividades" class="table-secondary">
                    <td>{{item.codigoclase}}</td>
                    <td>{{item.actividad}}</td>
                    <td><button routerLink="/alumnos-actividades-form/{{IDalumno}}/{{item.curso}}/{{item.actividad}}" type="button" class="btn btn-outline-secondary btn-sm"><span class="material-symbols-outlined">eject</span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>