<div class="card mt-3">
    <div class="title mt-3 mb-3">
        <h4>Listado de Actividades</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Codigo de Clase</th>
              <th scope="col">Nombre de Actividad</th>
              <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ListActividades" class="table-secondary">
              <th scope="row">{{item.codigoclase}}</th>
              <td>{{item.actividad}}</td>
              <td><button routerLink="/alumnos-actividades-form/{{IDalumno}}/{{item.curso}}/{{item.actividad}}" type="button" class="btn btn-outline-success btn-sm">REALIZAR</button></td>
            </tr>
        </tbody>
    </table>
</div>