.contenedor{
    width: 95%;
    margin: auto;
}
.form-singup{
    text-align: center;
    border: 4px solid #7b9394;
    border-radius: 15px;
    background: #cecece;
    color: #102d3a;
    font: bold;
}
.contenedor-btn{
    margin: auto;
}
.btn{
    width: 70%;
}