<div class="bg-primary list-group-item mt-3">
  <div  class="list-group-item-action">
    <main class="container">
      <section class="row align-items-center mb-5">
        <div class="col-lg-6">
            <h1 class="text-primary-main mt-3 mb-3">Educación Matemática con IA</h1>
            <p class="lead">La plataforma Smarth IaNum ofrece educación gratuita en matemáticas, enfocada en el uso de inteligencias artificiales (IA) para apoyar la enseñanza.</p>
        </div>
        <div class="col-lg-6 mt-4">
            <img src="assets/imagenes/ImagenPrincipal.png" alt="Ilustración de matemáticas y IA" class="img-fluid rounded shadow">
        </div>
      </section> 
      <section class="bg-info rounded shadow p-4 mb-5">
          <h3 class="text-primary-second mb-4">Perfiles de Usuario</h3>
          <div class="row">
              <div class="col-md-6 mb-3">
                  <div class="card card-custom">
                      <div class="card-body text-dark">
                          <div class="content-block">
                            <img src="assets/imagenes/icon-profesor.png" class="incons"> 
                            <h4 class="mt-2">Profesor</h4>
                            <img src="assets/imagenes/icon-profesor.png" class="incons"> 
                          </div>
                          <p class="card-text text-center">
                            El profesor puede agregar cursos, actividades y usar un Arbol de Decision para hacer 
                            predicciones del tipo de refuerzo que necesiten sus ALUMNOS.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="card card-custom">
                      <div class="card-body text-dark">
                          <div class="content-block">
                            <img src="assets/imagenes/icon-alumno.png" class="incons"> 
                            <h4 class="mt-2">Alumno</h4>
                            <img src="assets/imagenes/icon-alumno.png" class="incons"> 
                          </div>
                          <p class="card-text text-center">
                            El alumno tiene acceso a las actividades que agrege el PROFESOR dentro de la plataforma ademas
                            de que las CALIFICACIONES y TIEMPO que te tome ayudaran a tu profe a personalizar su curso.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <strong class="mt-3 text-dark">Todos tienen acceso al Chatbot, ayuda matemática con IA y material extra.</strong>
      </section>
      <section class="bg-info rounded shadow p-4">
          <h3 class="text-primary-second mb-3">Objetivo Educativo</h3>
          <strong class="mt-3 text-dark">La página busca proporcionar una nueva herramienta de apoyo tanto para alumnos como para profesores en la educación matemática.</strong>
      </section>
    </main>
  </div>
</div>