<div class="card mb-3 mt-3 text-center">
  <app-chatbot-interfaz></app-chatbot-interfaz>
    <h3 class="card-header">Bienvenidos a Mathe-Minds-IA</h3>
    <div class="card-body">
      <h5 class="card-title mt-3">
        La plataforma de educacioón gratuita para el aprendizaje autodidacta en el área de las matematicas. 
      </h5>
      <h6 class="card-subtitle text-muted mt-3">
        Nuestra página ésta enfocada en las inteligencias artificiales (IA) como un metodo de apoyo en la enseñanza.
        Para ello tenemos dos perfiles, los cuales son Profesor y Alumno.
      </h6>
    </div>
    <div class="container ml-2 mr-2">
      <img src="assets/imagenes/ImagenPrincipal.png" alt="Descripción de la imagen" class="imagenes img-fluid mx-auto d-block mt-3">
    </div>
    <div class="card-body">
      <h6 class="card-subtitle text-muted mt-3">
        Como Profesor tendrá el uso de esta herramienta educativa donde podrá agregar material para su curso, mismo
        que servirá para apoyar a su alumno en su aprendizaje. Mientras que el alumno podrá consultar, los apartados como:
        Chatbot, ayuda matematica con IA y material extra en caso de requerir con algún apoyo para sus clases particulares.
      </h6>
      <h6 class="card-text mt-3">De esta manera se propone brindar tanto al alumno como al profesor una nueva herramienta de apoyo en educacion de matematica.</h6>
    </div>
</div>

