
<nav class="card-pantalla-principal navbar-expand-lg bg-primary m-3">
  <div class="container-fluid list-group-item list-group-item-action flex-column align-items-start">
    <app-chatbot-interfaz></app-chatbot-interfaz>
    <div class="navbar-toggler">
      <h2 class="contenido text-center">
        La plataforma Smarth IaNum ofrece educación gratuita en matemáticas, enfocada en el uso de 
        inteligencias artificiales (IA) para apoyar la enseñanza.
      </h2>
      <div class="container-phone mt-3">
        <img src="assets/imagenes/ImagenPrincipal.png" class="imagenes-phone img-fluid d-block m-3">
      </div>
      <div class="contenido mt-4 text-center">
        <h2 class="bg-complementario-phone text-dark">Perfiles de Usuario</h2>
        <div class="content-block">
          <img src="assets/imagenes/icon-profesor.png" class="incons"> 
          <h4 class="mt-2">Profesor</h4>
          <img src="assets/imagenes/icon-profesor.png" class="incons"> 
        </div>
        <h5>El profesor puede agregar material educativo</h5>
        <div class="content-block">
          <img src="assets/imagenes/icon-alumno.png" class="incons"> 
          <h4 class="mt-2">Alumno</h4>
          <img src="assets/imagenes/icon-alumno.png" class="incons"> 
        </div>
        <h5>El alumno tiene acceso a los cursos del perfil Proseor</h5>
        <h5>Todos tienen acceso al Chatbot, ayuda matemática con IA y material extra</h5>
      </div>
      <div class="contenido mt-4 text-center">
        <h2 class="bg-complementario-phone text-dark">Objetivo Educativo</h2>
        <div class="content-block">
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
          <h4 class="mt-2">La página busca</h4>
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
        </div>
        <div class="content-block">
          <h4 class="mt-2">proporcionar una nueva herramienta de</h4>
        </div>
        <div class="content-block">
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
          <h4 class="mt-2"> apoyo tanto para</h4>
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
        </div>
        <div class="content-block">
          <h4 class="mt-2">alumnos como para profesores en la</h4>
        </div>
        <div class="content-block">
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
          <h4 class="mt-2">educación matemática</h4>
          <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
        </div>
      </div>
    </div>
<!------------------------------------------------------------------------------>
    <div class="collapse navbar-collapse">
      <div class="row">
          <div class="col-6">
            <img src="assets/imagenes/ImagenPrincipal.png" class="imagenes img-fluid d-block m-3">
          </div>
          <div class="col-6">
            <h1 class="contenido text-center mt-5">
              La plataforma Smarth IaNum ofrece educación gratuita en matemáticas, enfocada en el uso de 
              inteligencias artificiales (IA) para apoyar la enseñanza.
            </h1>
          </div>
          <div class="col-6">
            <div class="contenido mt-5 text-center">
              <h2 class="bg-complementario">Perfiles de Usuario</h2>
              <div class="content-block">
                <img src="assets/imagenes/icon-profesor.png" class="incons"> 
                <h4 class="mt-2">Profesor</h4>
                <img src="assets/imagenes/icon-profesor.png" class="incons"> 
              </div>
              <h5>El profesor puede agregar material educativo</h5>
              <div class="content-block">
                <img src="assets/imagenes/icon-alumno.png" class="incons"> 
                <h4 class="mt-2">Alumno</h4>
                <img src="assets/imagenes/icon-alumno.png" class="incons"> 
              </div>
              <h5>El alumno tiene acceso a los cursos del perfil Proseor</h5>
              <h5>Todos tienen acceso al Chatbot, ayuda matemática con IA y material extra</h5>
            </div>
          </div>
          <div class="col-6">
            <div class="contenido mt-5 text-center">
              <h2 class="content-block">Objetivo Educativo</h2>
              <div class="content-block">
                <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
                <h4 class="mt-2">La página busca proporcionar una</h4>
                <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
              </div>
              <div class="content-block">
                <h4 class="mt-2">nueva herramienta de apoyo tanto</h4>
              </div>
              <div class="content-block">
                <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
                <h4 class="mt-2">para alumnos como para profesores</h4>
                <img src="assets/imagenes/icon-digitialtool.png" class="incons"> 
              </div>
              <div class="content-block">
                <h4 class="mt-2">en la educación matemática</h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>