.list-group-item{
    width: 95%;
    margin: auto;
    border-radius: 20px;
}
.list-group-item-action:hover{
    background-color: #2b2b5e;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.text-primary-main{
    color: #58a3ff;
    font-family: 'math';
}
.text-primary-second{
    color: #1c3452;
    font-family: 'math';
}
.card-custom {
    background-color: #BEE3F8;
}
.content-block{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.incons {
    width: 50px;
}