<div class="card mt-3 text-dark">
    <h1><strong>REALIZAR ACTIVIDADES</strong></h1>
    <button routerLink="/alumnos-actividades/{{alumno}}" type="button" class="btn btn-outline-danger">VOLVER</button>
    <span *ngIf="formRespuestas.invalid && formRespuestas.touched">
        <strong>La Actividad NO Esta Completa....</strong>
    </span>
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="formPreguntas">
                <input [readonly]="true" formControlName="pregunta1" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta2" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta3" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta4" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta5" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta6" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta7" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta8" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta9" class="form-control mt-2">
                <input [readonly]="true" formControlName="pregunta10" class="form-control mt-2">
                <div>
                    <h2 class="mt-4 text-dark">CANTIDAD DE ACIERTOS: {{aciertos}}</h2>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form [formGroup]="formRespuestas" (ngSubmit)="EnviarRespuestas()">
                <input formControlName="respuesta1" class="form-control mt-2">
                <input formControlName="respuesta2" class="form-control mt-2">
                <input formControlName="respuesta3" class="form-control mt-2">
                <input formControlName="respuesta4" class="form-control mt-2">
                <input formControlName="respuesta5" class="form-control mt-2">
                <input formControlName="respuesta6" class="form-control mt-2">
                <input formControlName="respuesta7" class="form-control mt-2">
                <input formControlName="respuesta8" class="form-control mt-2">
                <input formControlName="respuesta9" class="form-control mt-2">
                <input formControlName="respuesta10" class="form-control mt-2">
                <div>
                    <button type="submit" class="btn btn-outline-success">ENVIAR</button>
                </div>
            </form>
        </div>
    </div>
</div>